<launch>
  <arg name="config"
       default="$(find go2w_local_environment)/config/projector.yaml"/>
  <arg name="cloud_topic" default="/cloud_registered"/>
  <arg name="odometry_topic" default="/Odometry"/>

  <node pkg="go2w_local_environment"
        type="local_environment_node"
        name="local_environment"
        output="screen">
    <rosparam command="load" file="$(arg config)"/>
    <param name="topics/cloud" value="$(arg cloud_topic)"/>
    <param name="topics/odometry" value="$(arg odometry_topic)"/>
  </node>
</launch>
