<launch>
  <arg name="start_fast_lio" default="true"/>
  <arg name="fast_lio_rviz" default="true"/>
  <arg name="lidar_input_topic" default="/lidar_points"/>
  <arg name="cloud_topic" default="/cloud_registered"/>
  <arg name="odometry_topic" default="/Odometry"/>
  <arg name="projector_config"
       default="$(find go2w_local_environment)/config/projector.yaml"/>

  <group if="$(arg start_fast_lio)">
    <include file="$(find fast_lio)/launch/mapping_xt16.launch">
      <arg name="rviz" value="false"/>
      <arg name="lidar_input_topic" value="$(arg lidar_input_topic)"/>
    </include>
  </group>

  <include file="$(find go2w_local_environment)/launch/local_environment.launch">
    <arg name="config" value="$(arg projector_config)"/>
    <arg name="cloud_topic" value="$(arg cloud_topic)"/>
    <arg name="odometry_topic" value="$(arg odometry_topic)"/>
  </include>

  <group if="$(arg fast_lio_rviz)">
    <node pkg="rviz"
          type="rviz"
          name="rviz"
          args="-d $(find go2w_local_environment)/rviz/local_elevation.rviz -f odom"
          output="screen"/>
  </group>
</launch>
