<launch>
  <arg name="rviz" default="true"/>
  <arg name="lidar_input_topic" default="/lidar_points"/>
  <arg name="feature_extract_enable" default="false"/>
  <arg name="point_filter_num" default="3"/>
  <arg name="max_iteration" default="3"/>
  <arg name="filter_size_surf" default="0.5"/>
  <arg name="filter_size_map" default="0.5"/>
  <arg name="cube_side_length" default="1000.0"/>
  <arg name="acc_cov" default="0.1"/>
  <arg name="gyr_cov" default="0.0001"/>
  <arg name="b_acc_cov" default="0.0001"/>
  <arg name="b_gyr_cov" default="0.0001"/>
  <arg name="extrinsic_est_en" default="false"/>
  <arg name="effect_publish_en" default="false"/>
  <arg name="map_publish_en" default="false"/>
  <arg name="runtime_pos_log_enable" default="false"/>

  <rosparam command="load"
            file="$(find fast_lio)/config/xt16.yaml"/>

  <param name="common/lid_topic" value="$(arg lidar_input_topic)"/>

  <param name="feature_extract_enable"
         type="bool"
         value="$(arg feature_extract_enable)"/>
  <param name="point_filter_num" type="int" value="$(arg point_filter_num)"/>
  <param name="max_iteration" type="int" value="$(arg max_iteration)"/>
  <param name="filter_size_surf" type="double" value="$(arg filter_size_surf)"/>
  <param name="filter_size_map" type="double" value="$(arg filter_size_map)"/>
  <param name="cube_side_length"
         type="double"
         value="$(arg cube_side_length)"/>
  <param name="runtime_pos_log_enable"
         type="bool"
         value="$(arg runtime_pos_log_enable)"/>
  <param name="mapping/acc_cov" type="double" value="$(arg acc_cov)"/>
  <param name="mapping/gyr_cov" type="double" value="$(arg gyr_cov)"/>
  <param name="mapping/b_acc_cov" type="double" value="$(arg b_acc_cov)"/>
  <param name="mapping/b_gyr_cov" type="double" value="$(arg b_gyr_cov)"/>
  <param name="mapping/extrinsic_est_en"
         type="bool"
         value="$(arg extrinsic_est_en)"/>
  <param name="publish/effect_publish_en"
         type="bool"
         value="$(arg effect_publish_en)"/>
  <param name="publish/map_publish_en"
         type="bool"
         value="$(arg map_publish_en)"/>

  <node pkg="fast_lio"
        type="fastlio_mapping"
        name="laserMapping"
        output="screen"/>

  <group if="$(arg rviz)">
    <node pkg="rviz"
          type="rviz"
          name="rviz"
          args="-d $(find fast_lio)/rviz_cfg/loam_livox.rviz -f odom"/>
  </group>
</launch>
