<launch>
  <arg name="odom_topic" default="/Odometry"/>
  <arg name="cloud_topic" default="/cloud_registered_body"/>
  <arg name="map_frame" default="map"/>
  <arg name="odom_frame" default="odom"/>
  <arg name="body_frame" default="base_link"/>
  <arg name="world_frame" default="map"/>

  <node pkg="lio_loop_correction"
        type="lio_loop_correction_node"
        name="lio_loop_correction"
        output="screen">
    <param name="odom_topic" value="$(arg odom_topic)"/>
    <param name="cloud_topic" value="$(arg cloud_topic)"/>
    <param name="map_frame" value="$(arg map_frame)"/>
    <param name="odom_frame" value="$(arg odom_frame)"/>
    <param name="body_frame" value="$(arg body_frame)"/>
    <param name="world_frame" value="$(arg world_frame)"/>

    <!-- Keyframe creation -->
    <param name="keyframe_distance" value="1.0"/>
    <param name="keyframe_angle_deg" value="15.0"/>
    <param name="voxel_leaf_size" value="0.35"/>
    <param name="min_cloud_points" value="200"/>
    <param name="max_odom_cloud_dt" value="0.2"/>

    <!-- Loop candidate search -->
    <param name="history_skip" value="30"/>
    <param name="min_loop_interval" value="10.0"/>
    <param name="loop_cooldown_keyframes" value="20"/>
    <param name="descriptor_rings" value="20"/>
    <param name="descriptor_sectors" value="60"/>
    <param name="descriptor_max_radius" value="30.0"/>
    <param name="descriptor_distance_threshold" value="0.35"/>
    <param name="descriptor_top_k" value="5"/>

    <!-- ICP verification -->
    <param name="icp_max_iterations" value="40"/>
    <param name="icp_max_correspondence_distance" value="1.0"/>
    <param name="icp_fitness_threshold" value="0.35"/>

    <!-- Correction output. This publishes map -> odom and /loop_corrected_odometry. -->
    <param name="publish_map_to_odom" value="true"/>
    <param name="correction_alpha" value="0.08"/>
    <param name="tf_publish_rate" value="50.0"/>
    <param name="max_correction_translation" value="50.0"/>
  </node>
</launch>
