<launch>
  <arg name="input_topic" default="/lidar_points"/>
  <arg name="output_topic" default="/lidar_points_fastlio"/>

  <node pkg="hesai_fastlio_adapter"
        type="hesai_fastlio_adapter_node"
        name="hesai_fastlio_adapter"
        output="screen">
    <param name="input_topic" value="$(arg input_topic)"/>
    <param name="output_topic" value="$(arg output_topic)"/>
    <param name="max_scan_duration" value="0.2"/>
  </node>
</launch>
